<div class="entityWrapper">
  <div *ngIf="symptom">
    <button type="submit"
            [routerLink]="['/symptom']"
            class="btn button-transparent"
            data-cy="entityDetailsBackButton">
      <fa-icon class="list-text-color" icon="arrow-left"></fa-icon>&nbsp;<span class="list-text-color" jhiTranslate="entity.action.back">Back</span>
    </button>
    <button *customHasAnyAuthority="'ROLE_USER'"
            type="button"
            data-cy="entityEditButton"
            [routerLink]="['/symptom', symptom.id, 'edit']"
            class="btn btn-primary float-right button-create">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
    <button *customHasAnyAuthority="'ROLE_USER'"
            type="submit" (click)="delete(symptom)"
            class="btn button-transparent float-right button-delete"
            data-cy="entityDeleteButton">
      <fa-icon class="red-icon" icon="trash"></fa-icon>
    </button>

    <h2 class="h2-color" data-cy="symptomDetailsHeading"><span>{{ symptom.name }}</span></h2>
    <div class="mainWrapper entityInfoWrapper">
      <custom-alert-error></custom-alert-error>
      <custom-alert></custom-alert>
      <div class="sectionWrapper" >
        <h5 class="col-lg-12 mt-4 mb-4 list-text-color-bold"  jhiTranslate="supportivecareApp.therapeuticRegime.generalInfo">General information</h5>
        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.therapeuticRegime.titleBlock" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.regime' | translate">Assigned Therapeutic Regimes</label>
          <p><span *ngFor="let therapeuticRegime of symptom.therapeuticRegimes; let last = last">
                        <a [routerLink]="['/therapeutic-regime', therapeuticRegime?.id, 'view']">{{ therapeuticRegime.name }}</a>{{ last ? '' : ', ' }}
                    </span></p>
        </div>

        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.symptom.notice" [ngbTooltip]="'supportivecareApp.symptom.help.notice' | translate">Notice</label>
          <p><span>{{ symptom.notice }}</span></p>
        </div>

        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.symptom.outcome" [ngbTooltip]="'supportivecareApp.symptom.outcome' | translate">Outcome</label>
          <p><span *ngFor="let outcome of symptom.outcomes; let last = last">
                        <a [routerLink]="['/outcome', outcome?.id, 'view']">{{ outcome.name }}</a>{{ last ? '' : ', ' }}
                    </span></p>
        </div>
      </div>
      <div class="sectionWrapper" >
                <span *ngFor="let toxicityRate of symptom.toxicityRates; let last = last">
                <ng-container *ngIf="toxicityRate.name && toxicityRate.name.length > 0">
                    <ngb-accordion [closeOthers]="true">
                        <ngb-panel>
                            <ng-template ngbPanelHeader let-opened="opened">
                                <div class="d-flex align-items-center justify-content-between">
                                    <button ngbPanelToggle class="btn btn-link text-primary m-0">Intervenção Recomendada - {{ toxicityRate.name }}</button>
                                    <fa-icon *ngIf="opened" class="text-primary p-0" icon="angle-up"> </fa-icon>
                                    <fa-icon *ngIf="!opened" class="text-primary p-0" icon="angle-down"> </fa-icon>
                                  </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div class="form-group col-lg-12">
                                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.description" [ngbTooltip]="'supportivecareApp.toxicityRate.description' | translate">description</label>
                                    <p><span>{{ toxicityRate.description }}</span></p>
                                </div>
                                <div class="form-group border col-lg-12">
                                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.notice" [ngbTooltip]="'supportivecareApp.toxicityRate.notice' | translate">notice</label>
                                    <p><span>{{ toxicityRate.notice }}</span></p>
                                </div>
                                <div class="form-group border col-lg-12">
                                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.autonomousIntervention" [ngbTooltip]="'supportivecareApp.toxicityRate.autonomousIntervention' | translate">autonomousIntervention</label>
                                    <p><span>{{ toxicityRate.autonomousIntervention }}</span></p>
                                </div>
                                <div class="form-group border col-lg-12">
                                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.interdependentIntervention" [ngbTooltip]="'supportivecareApp.toxicityRate.interdependentIntervention' | translate">interdependentIntervention</label>
                                    <p><span>{{ toxicityRate.interdependentIntervention }}</span></p>
                                </div>
                                <div class="form-group border col-lg-12">
                                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.selfManagement" [ngbTooltip]="'supportivecareApp.toxicityRate.selfManagement' | translate">selfManagement</label>
                                    <p><span>{{ toxicityRate.selfManagement }}</span></p>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </ng-container>
                </span>
      </div>
    </div>
  </div>
</div>
