<div class="mainWrapper">
  <div class="listHeaderWrapper">
    <h2 class="h2-color" id="page-heading" data-cy="FeedbackHeading" customTranslate="supportivecareApp.feedback.home.title"></h2>
    <div class="headerButtonWrapper">
      <button type="submit" (click)="deleteAllResolved()" class="btn button-transparent float-right button-delete" data-cy="entityDeleteButton">
        <fa-icon class="red-icon" icon="trash"> </fa-icon>
        <span customTranslate="supportivecareApp.feedback.action.deleteAllResolved">Delete all feedbacks resolved</span>
      </button>
      <div ngbDropdown #dropdownSort="ngbDropdown">
        <button class="btn button-transparent sort" id="dropdownSort" ngbDropdownToggle>
          <fa-icon class="blue-icon" icon="sort"> </fa-icon>
        </button>
        <div ngbDropdownMenu class="feedbackDropdown" aria-labelledby="dropdownSort" aria-expanded="false">
          <form name="sortForm" role="form" novalidate (ngSubmit)="reset()" [formGroup]="sortForm">
            <span customTranslate="supportivecareApp.feedback.sort.sortBy">Sort by:</span>
            <div class="form-group">
              <div class="dropdownGroup">
                <span customTranslate="supportivecareApp.feedback.sort.status"></span>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="status" id="field_solved" value="solved" data-cy="solved" formControlName="status" />
                  <label class="form-check-label" customTranslate="supportivecareApp.feedback.sort.solved" for="field_solved">Solved</label>
                </div>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="status" id="field_unsolved" value="unsolved" data-cy="unsolved" formControlName="status" />
                <label class="form-check-label" customTranslate="supportivecareApp.feedback.sort.unsolved" for="field_unsolved">Unsolved</label>
              </div>
              <div class="dropdownGroup">
                <span customTranslate="supportivecareApp.feedback.sort.creationDate"></span>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="creationDate" id="field_newer" value="newer" data-cy="newer" formControlName="creationDate" />
                  <label class="form-check-label" customTranslate="supportivecareApp.feedback.sort.newer" for="field_newer">Newer</label>
                </div>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="creationDate" id="field_older" value="older" data-cy="older" formControlName="creationDate" />
                <label class="form-check-label" customTranslate="supportivecareApp.feedback.sort.older" for="field_older">Older</label>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" customTranslate="entity.action.sort" (click)="dropdownSort.close()">Sort</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="entityInfoWrapper">
    <custom-alert-error></custom-alert-error>
    <custom-alert></custom-alert>
    <div class="alert alert-warning" id="no-result" *ngIf="feedbacks?.length === 0">
      <span customTranslate="supportivecareApp.feedback.home.notFound">No feedbacks found</span>
    </div>
    <div class="sectionWrapper" *ngIf="feedbacks && feedbacks.length > 0">
      <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <span *ngFor="let feedback of feedbacks; let last = last" data-cy="entityTable">
          <div class="card feedbackCard" [ngClass]="feedback.solved ? 'bg-gray' : 'bg-white'">
            <div class="cardHeader">
              <a [routerLink]="['/' + feedback.entityType, feedback.entityId, 'view']">
                {{ feedback.entityName }}
              </a>
              <span class="float-right">{{ feedback.createdDate?.format(dateFormat) }}</span>
            </div>
            <span>{{ feedback.reason }}</span>
            <div class="cardAuthor">
              <span customTranslate="supportivecareApp.feedback.by"></span>:
              <span class="font-italic" *ngIf="feedback.anonym" customTranslate="supportivecareApp.feedback.anonym">Anonym</span>
              <span class="font-italic" *ngIf="!feedback.anonym">{{ feedback.createdBy }}</span>
            </div>
            <div *ngIf="!feedback.solved">
              <button type="button" class="btn button-transparent markSolvedButton">
                <fa-icon class="list-text-color" icon="check-circle"></fa-icon>&nbsp;<span class="list-text-color" customTranslate="supportivecareApp.feedback.actions.markAsSolved"
                  >Mark as solved</span
                >
              </button>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
