<div class="mainWrapper">
  <div class="listHeaderWrapper">
    <h2 class="h2-color" id="page-heading" data-cy="FeedbackHeading" customTranslate="supportivecareApp.feedback.home.title">Feedbacks</h2>
    <button type="submit" (click)="deleteAllResolved()" class="btn button-transparent float-right button-delete" data-cy="entityDeleteButton">
      <fa-icon class="red-icon" icon="trash"> </fa-icon>
      <span customTranslate="supportivecareApp.feedback.action.deleteAllResolved">Delete all feedbacks resolved</span>
    </button>
  </div>
  <div class="mainWrapper entityInfoWrapper">
    <custom-alert-error></custom-alert-error>
    <custom-alert></custom-alert>
    <div class="alert alert-warning" id="no-result" *ngIf="feedbacks?.length === 0">
      <span customTranslate="supportivecareApp.feedback.home.notFound">No feedbacks found</span>
    </div>
    <div class="sectionWrapper" *ngIf="feedbacks && feedbacks.length > 0">
      <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <span *ngFor="let feedback of feedbacks; let last = last">
          <div class="card" [ngClass]="feedback.solved ? 'bg-gray' : 'bg-white'">
            <div class="card-header border-0 feedback-card-header-color" [ngClass]="feedback.solved ? 'bg-gray' : 'bg-white'">
              <a [routerLink]="['/' + feedback.entityType, feedback.entityId, 'view']">
                <span>{{ feedback.entityName }}</span>
              </a>
              <span class="float-right">{{ feedback.createdDate?.format(dateFormat) }}</span>
            </div>
            <div class="card-body" [ngClass]="feedback.solved ? 'bg-gray' : 'bg-white'">
              <span>{{ feedback.reason }}</span>
            </div>
            <div class="card-body" [ngClass]="feedback.solved ? 'bg-gray' : 'bg-white'">
              <span customTranslate="supportivecareApp.feedback.by">By</span>:
              <span class="font-italic" *ngIf="feedback.anonym" customTranslate="supportivecareApp.feedback.anonym">Anonym</span>
              <span class="font-italic" *ngIf="!feedback.anonym">{{ feedback.createdBy }}</span>
            </div>
            <div *ngIf="!feedback.solved" class="card-footer bg-white border-0">
              <button type="button" class="btn bg-transparent button-transparent float-left">
                <fa-icon class="list-text-color" icon="check-circle"></fa-icon>&nbsp;<span class="list-text-color" customTranslate="supportivecareApp.feedback.actions.markAsSolved"
                  >Mark as solved</span
                >
              </button>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
