@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.h2-color {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  color: #5279b0;
}

.title-color {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  color: #5279b0;
}

.title-color-bold {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  color: #5279b0;
}
