<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="drug">

            <button type="submit"
                    (click)="previousState()"
                    class="btn button-transparent"
                    data-cy="entityDetailsBackButton">
                <fa-icon class="list-text-color" icon="arrow-left"></fa-icon>&nbsp;<span class="list-text-color" jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="button"
                    [routerLink]="['/drug', drug.id, 'edit']"
                    class="btn btn-primary float-right">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="submit" (click)="delete(drug)"
                    class="btn button-transparent float-right"
                    data-cy="entityDeleteButton">
                <fa-icon class="red-icon" icon="trash"></fa-icon>
            </button>

            <h2 class="h2-color" data-cy="drugDetailsHeading"><span class="title-color-bold">{{ drug.name }}</span></h2>

            <custom-alert-error></custom-alert-error>

            <custom-alert></custom-alert>

            <div class="bg-light div-detail-spacing" >
                <h5 class="list-text-color-bold col-lg-12 mt-4 mb-4"  jhiTranslate="supportivecareApp.drug.generalInfo">General information</h5>
                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.drug.description" [ngbTooltip]="'supportivecareApp.drug.help.description' | translate">Description</label>
                    <p><span>{{ drug.description }}</span></p>
                </div>
                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.drug.administration">Administration</label>
                    <div *ngIf="drug.administration">
                        <span>{{ drug.administration?.type }}</span>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="drug.notices && drug.notices.length > 0">
                <ngb-accordion [closeOthers]="true" activeIds="{{drug.notices[0].id}}">
                    <ngb-panel *ngFor="let notice of drug.notices" id="{{notice.id}}">
                        <ng-template ngbPanelHeader let-opened="opened">
                            <div class="d-flex align-items-center justify-content-between">
                                <button ngbPanelToggle class="btn btn-link text-primary m-0">{{ notice.description }}</button>
                                <fa-icon *ngIf="opened" class="text-primary p-0" icon="angle-up"></fa-icon>
                                <fa-icon *ngIf="!opened" class="text-primary p-0" icon="angle-down"></fa-icon>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="form-group col-lg-9">
                                <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.notice.evaluation" [ngbTooltip]="'supportivecareApp.notice.help.evaluation' | translate">Evaluation</label>
                                <p><span>{{ notice.evaluation }}</span></p>
                            </div>
                            <div class="form-group col-lg-9">
                                <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.notice.intervention" [ngbTooltip]="'supportivecareApp.notice.help.intervention' | translate">Intervention</label>
                                <p><span>{{ notice.intervention }}</span></p>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </ng-container>
        </div>
    </div>
</div>
