<div>
    <h2 class="h2-color" id="page-heading" data-cy="DrugHeading">
        <span jhiTranslate="supportivecareApp.drug.home.title">Drugs</span>

        <div class="d-flex justify-content-end">
            <button *customHasAnyAuthority="'ROLE_USER'" id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-drug button-create" [routerLink]="['/drug/new']">
                <fa-icon icon="pills" slot="start"></fa-icon>
                <span  jhiTranslate="supportivecareApp.drug.home.createLabel">
                Create a new Drug
                </span>
            </button>
        </div>
    </h2>

    <custom-alert-error></custom-alert-error>

    <custom-alert></custom-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="drugs?.length === 0">
        <span jhiTranslate="supportivecareApp.drug.home.notFound">No drugs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="drugs && drugs.length > 0">
        <table class="table table-striped border-style" aria-describedby="page-heading">
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let drug of drugs; trackBy: trackId" data-cy="entityTable">
                    <td class= "table-item">
                        <a [routerLink]="['/drug', drug.id, 'view']">
                            <span class="list-text-color-bold"> {{ drug.name }} </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
