<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="drug">

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info"
                    data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="button"
                    [routerLink]="['/drug', drug.id, 'edit']"
                    class="btn btn-primary float-right">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="submit" (click)="delete(drug)"
                    class="btn btn-danger float-right"
                    data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon> <span jhiTranslate="entity.action.delete">Delete</span>
            </button>

            <h2 class="h2-color" data-cy="drugDetailsHeading"><span class="title-color-bold">{{ drug.name }}</span></h2>

            <custom-alert-error></custom-alert-error>

            <custom-alert></custom-alert>

            <div class="bg-light" >
                <h5 class="text-primary col-lg-12 mt-4 mb-4"  jhiTranslate="supportivecareApp.drug.generalInfo"> >General information</h5>
                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.drug.description" [ngbTooltip]="'supportivecareApp.drug.help.description' | translate">Description</label>
                    <p><span>{{ drug.description }}</span></p>
                </div>
                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.drug.administration">Administration</label>
                    <div *ngIf="drug.administration">
                        <a [routerLink]="['/administration', drug.administration?.id, 'view']">{{ drug.administration?.type }}</a>
                    </div>
                </div>
                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.drug.notice">Notice</label>
                    <p>
                        <span *ngFor="let notice of drug.notices; let last = last">
                            <a [routerLink]="['/notice', notice?.id, 'view']">{{ notice.description }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
