<div class="entityWrapper">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <h2
      class="list-text-color-bold"
      id="custom-active-substance-heading"
      data-cy="ActiveSubstanceUpdateHeading"
      *ngIf="isEditing()"
      customTranslate="supportivecareApp.activeSubstance.home.editLabel"
    ></h2>
    <h2
      class="list-text-color-bold"
      id="custom-active-substance-heading"
      data-cy="ActiveSubstanceCreateHeading"
      *ngIf="!isEditing()"
      customTranslate="supportivecareApp.activeSubstance.home.createLabel"
    ></h2>
    <div class="mainWrapper entityInfoWrapper">
      <custom-alert-error></custom-alert-error>
      <div class="sectionWrapper">
        <h5 class="list-text-color-bold" customTranslate="supportivecareApp.activeSubstance.generalInfo"></h5>
        <div class="form-group">
          <label class="form-control-label" customTranslate="supportivecareApp.activeSubstance.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" customTranslate="entity.validation.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.maxlength" customTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" customTranslate="supportivecareApp.activeSubstance.dosage" for="field_dosage">Dosage</label>
          <input type="text" class="form-control" name="dosage" id="field_dosage" data-cy="dosage" formControlName="dosage" />
          <div *ngIf="editForm.get('dosage')!.invalid && (editForm.get('dosage')!.dirty || editForm.get('dosage')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('dosage')?.errors?.required" customTranslate="entity.validation.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('dosage')?.errors?.maxlength" customTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
              This field cannot be longer than 30 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" customTranslate="supportivecareApp.activeSubstance.form" for="field_form">Form</label>
          <input type="text" class="form-control" name="form" id="field_form" data-cy="form" formControlName="form" />
          <div *ngIf="editForm.get('form')!.invalid && (editForm.get('form')!.dirty || editForm.get('form')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('form')?.errors?.required" customTranslate="entity.validation.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('form')?.errors?.maxlength" customTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" customTranslate="supportivecareApp.activeSubstance.description" for="field_description">Description</label>
          <input type="text" class="form-control" name="description" id="field_description" data-cy="description" formControlName="description" />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.maxlength" customTranslate="entity.validation.maxlength" [translateValues]="{ max: 3000 }">
              This field cannot be longer than 3000 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" customTranslate="supportivecareApp.activeSubstance.administration" for="field_administration">Administration</label>
          <select class="form-control" id="field_administration" data-cy="administration" name="administration" formControlName="administration">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="administrationOption.id === editForm.get('administration')!.value?.id ? editForm.get('administration')!.value : administrationOption"
              *ngFor="let administrationOption of administrations; trackBy: trackAdministrationById"
            >
              {{ administrationOption.type }}
            </option>
          </select>
        </div>
      </div>
      <ng-container>
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
          <ngb-panel *ngFor="let notice of getNotices().controls; let i = index" id="{{ 'notice' + i }}">
            <ng-template ngbPanelHeader let-opened="opened">
              <div class="d-flex align-items-center justify-content-between is-clickable" (click)="acc.toggle('notice' + i)">
                <button ngbPanelToggle class="btn btn-link text-primary m-0 font-weight-bold" (click)="acc.toggle('notice' + i)" customTranslate="supportivecareApp.activeSubstance.notice">
                  Observation
                </button>
                <button class="btn btn-link text-primary m-0" (click)="deleteNotice(i)">
                  <fa-icon icon="minus"></fa-icon> <span customTranslate="supportivecareApp.activeSubstance.actions.removeObservation"> Remove Observation </span>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent style="cursor: auto">
              <div style="cursor: auto" [formGroup]="$any(notice)">
                <input type="hidden" class="form-control" name="name" id="field_activeSubstance_id" formControlName="id" />
                <div class="form-group col-lg-12">
                  <label for="field_activeSubstance_description" class="form-control-label" style="border: none" customTranslate="supportivecareApp.notice.name">Name</label>
                  <input type="text" class="form-control" name="description" id="field_activeSubstance_description" formControlName="description" />
                </div>
                <div class="form-group col-lg-12">
                  <label for="field_activeSubstance_evaluation" class="form-control-label" customTranslate="supportivecareApp.notice.evaluation">Evaluation</label>
                  <input type="text" class="form-control" name="evaluation" id="field_activeSubstance_evaluation" formControlName="evaluation" />
                </div>
                <div class="form-group col-lg-12">
                  <label for="field_activeSubstance_intervention" class="form-control-label" customTranslate="supportivecareApp.notice.intervention">Intervention</label>
                  <input type="text" class="form-control" name="intervention" id="field_activeSubstance_intervention" formControlName="intervention" />
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-container>
      <div>
        <button type="button" class="btn btn-link text-primary m-0" (click)="addNotice()">
          <fa-icon icon="plus"></fa-icon> <span customTranslate="supportivecareApp.activeSubstance.actions.addObservation"> Add observation </span>
        </button>
      </div>
    </div>

    <div class="entityUpdateButtonsWrapper">
      <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn button-create button-text text-white">
        <fa-icon icon="check"></fa-icon>&nbsp;&nbsp;<span customTranslate="entity.action.save">Save</span>
      </button>
      <button type="button" id="cancel-save" class="btn btn-danger button-delete" (click)="cancel()">
        <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;<span customTranslate="entity.action.cancel">Cancel</span>
      </button>
    </div>
  </form>
</div>
