<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="administration">
            <div class="d-flex justify-content-between">
                <div class="btn-group" role="group">
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-outline-primary"
                            data-cy="entityDetailsBackButton">
                        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span customTranslate="entity.action.back">Back</span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="submit"
                            (click)="delete(administration)"
                            class="btn btn-outline-danger ml-2"
                            data-cy="entityDeleteButton">
                        <fa-icon icon="trash"></fa-icon>
                    </button>

                    <button type="button"
                            [routerLink]="['/administration', administration.id, 'edit']"
                            class="btn btn-primary ml-2"
                            data-cy="entityEditButton">
                        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span customTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </div>

            <h2 data-cy="administrationDetailsHeading"><span [ngbTooltip]="'supportivecareApp.administration.help.type' | translate">{{ administration.type }}</span></h2>

            <custom-alert-error></custom-alert-error>

            <custom-alert></custom-alert>
        </div>
    </div>
</div>
