<div class="entityWrapper">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <h2 class="list-text-color-bold" id="custom-outcome-edit-heading" data-cy="TherapeuticRegimeUpdateHeading" *ngIf="isEditing()" customTranslate="supportivecareApp.outcome.home.editLabel"></h2>
    <h2 class="list-text-color-bold" id="custom-outcome-create-heading" data-cy="TherapeuticRegimeCreateHeading" *ngIf="!isEditing()" customTranslate="supportivecareApp.outcome.home.createLabel"></h2>
    <div class="mainWrapper entityInfoWrapper">
      <h5 class="list-text-color-bold mt-4 mb-4" customTranslate="supportivecareApp.outcome.generalInfo"></h5>
      <custom-alert-error></custom-alert-error>

      <div class="form-group">
        <label class="form-control-label" customTranslate="supportivecareApp.outcome.name" for="field_name" [ngbTooltip]="'supportivecareApp.outcome.help.name' | translate">Name</label>
        <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" customTranslate="entity.validation.required"> This field is required. </small>
          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.maxlength" customTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
            This field cannot be longer than 255 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" customTranslate="supportivecareApp.outcome.description" for="field_description" [ngbTooltip]="'supportivecareApp.outcome.help.description' | translate"
          >Description</label
        >
        <textarea type="text" class="form-control" name="description" id="field_description" data-cy="description" formControlName="description"></textarea>
        <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.maxlength" customTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
            This field cannot be longer than 1000 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label customTranslate="supportivecareApp.outcome.attachment"></label>
        <div class="documentWrapper" *ngFor="let document of getDocuments().value; let id = index" id="{{ 'document' + id }}">
          <div class="oldFilesWrapper">
            <p>
              <em>{{ document.title }}</em>
            </p>
            <button class="btn" (click)="removeDocument(id)"><fa-icon icon="trash"></fa-icon></button>
          </div>
        </div>
        <div class="newDocumentWrapper" *ngFor="let file of getFiles(); let id = index" id="{{ 'file' + id }}">
          <span class="newFileSpan"><strong>New file:&nbsp;</strong></span>
          <p>{{ file.name }}</p>
        </div>
        <label class="btn fileButton" for="field_documents"
          ><fa-icon icon="file-upload" class="uploadIcon"></fa-icon> <span class="attachmentSpan" customTranslate="supportivecareApp.outcome.attachmentUpload"></span
        ></label>
        <input type="file" class="hideInput" (change)="handleFileInput($event)" id="field_documents" multiple files />
      </div>
    </div>

    <div class="updateButtons">
      <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary button-create">
        <fa-icon icon="save"></fa-icon>&nbsp;<span customTranslate="entity.action.save"></span>
      </button>
      <button type="button" id="cancel-save" class="btn btn-danger" (click)="previousState()"><fa-icon icon="ban"></fa-icon>&nbsp;<span customTranslate="entity.action.cancel"></span></button>
    </div>
  </form>
</div>
