@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.navbar-modal-body {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.navbar-modal-footer {
  justify-content: center;
}
