<form name="cancelForm" (ngSubmit)="cancel()">
<!--    <ng-template let-c="close" let-d="dismiss">-->
<!--        <div class="modal-body border-0 ">-->
<!--            <h5 class="modal-title mb-1" id="modal-basic-title" data-cy="therapeuticRegimeCancelDialogHeading" jhiTranslate="entity.delete.title"><strong>Deseja sair da criação de um regime terapêutico?</strong></h5>-->
<!--            <p id="custom-cancel-therapeuticRegime-heading" jhiTranslate="supportivecareApp.therapeuticRegime.cancel.question">Ao sair irá perder toda a informaçãoinserida na criação deste regime terapêutico.</p>-->

<!--            <button id="custom-confirm-cancel-therapeuticRegime" data-cy="entityConfirmCancelButton" type="submit" class="btn btn-danger mt-3">-->
<!--                <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Sair da criação</span>-->
<!--            </button>-->

<!--            <button (click)="cancel()" class="btn btn-outline-primary mt-3"  type="button">Cancelar</button>-->
<!--        </div>-->
<!--    </ng-template>-->
    <div class="modal-header">
        <h5 class="modal-title mb-1" data-cy="therapeuticRegimeCancelDialogHeading" jhiTranslate="supportivecareApp.therapeuticRegime.cancel.title">Deseja sair da criação de um regime terapêutico?</h5>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <p id="custom-cancel-therapeuticRegime-heading" jhiTranslate="supportivecareApp.therapeuticRegime.cancel.question">Are you sure you want to cancel this Therapeutic Regime?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button id="custom-confirm-cancel-therapeuticRegime" data-cy="entityConfirmCancelButton" type="submit" class="btn btn-danger">
            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Sair da criação</span>
        </button>
    </div>
</form>


