<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 class="list-text-color-bold" id="custom-therapeutic-regime-heading" data-cy="TherapeuticRegimeCreateUpdateHeading" jhiTranslate="supportivecareApp.therapeuticRegime.home.createOrEditLabel">Create or edit a Therapeutic Regime</h2>
            <div class="bg-light" >
                <h5 class="list-text-color-bold col-lg-12 mt-4 mb-4"  jhiTranslate="supportivecareApp.therapeuticRegime.generalInfo"> >General information</h5>
                <custom-alert-error></custom-alert-error>
                <div class="form-group col-lg-12" [hidden]="editForm.get('id')?.value == null">
                    <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                    <input type="number" class="form-control" name="id" id="field_id" data-cy="id"
                           formControlName="id" readonly/>
                </div>
                <div class="form-group col-lg-9">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.name" for="field_name" >Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" data-cy="name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
               </div>
                <div class="form-group col-lg-9">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.acronym" for="field_acronym" >Acronym</label>
                    <input type="text" class="form-control" name="acronym" id="field_acronym" data-cy="acronym"
                           formControlName="acronym"/>
                </div>
                <div class="form-group col-lg-12">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.purpose" for="field_purpose" >Purpose</label>
                    <textarea type="text" rows="3" class="form-control" name="purpose" id="field_purpose" data-cy="purpose"
                           formControlName="purpose" > </textarea>
                    <div *ngIf="editForm.get('purpose')!.invalid && (editForm.get('purpose')!.dirty || editForm.get('purpose')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('purpose')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-4 order-md-2 mb-4">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.treatment" for="field_treatment">Treatment</label>
                    <select class="form-control" id="field_treatment" data-cy="treatment" name="treatment" formControlName="treatment">
                        <option *ngIf="!editForm.get('treatment')!.value" [ngValue]="null" selected>...</option>
                        <option [ngValue]="treatmentOption.id === editForm.get('treatment')!.value?.id ? editForm.get('treatment')!.value : treatmentOption" *ngFor="let treatmentOption of treatments; trackBy: trackById">{{ treatmentOption.type }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-12">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.condition" for="field_condition" >Condition</label>
                    <textarea type="text" rows="3" class="form-control" name="condition" id="field_condition" data-cy="condition"
                              formControlName="condition"></textarea>
                    <div *ngIf="editForm.get('condition')!.invalid && (editForm.get('condition')!.dirty || editForm.get('condition')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('condition')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.timing" for="field_timing" >Timing</label>
                    <textarea type="text" rows="3"   class="form-control" name="timing" id="field_timing" data-cy="timing"
                           formControlName="timing"></textarea>
                </div>
                <div class="form-group col-lg-12">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.indication" for="field_indication" >Indication</label>
                    <textarea type="text" rows="3" class="form-control" name="indication" id="field_indication" data-cy="indication"
                              formControlName="indication"></textarea>
                    <div *ngIf="editForm.get('indication')!.invalid && (editForm.get('indication')!.dirty || editForm.get('indication')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('indication')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.criteria" for="field_criteria" >Criteria</label>
                    <textarea type="text" rows="3"  class="form-control" name="criteria" id="field_criteria" data-cy="criteria"
                              formControlName="criteria"></textarea>
                    <div *ngIf="editForm.get('criteria')!.invalid && (editForm.get('criteria')!.dirty || editForm.get('criteria')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('criteria')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.notice" for="field_notice" >Notice</label>
                    <textarea type="text" rows="3"  class="form-control" name="notice" id="field_notice" data-cy="notice"
                              formControlName="notice"></textarea>
                </div>

                <div class="form-group col-lg-12 ">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.therapeuticRegime.drug" for="field_drugs" >Drugs</label>

                    <ng-multiselect-dropdown
                        [placeholder]="'...'"
                        [data]="getSelect2Options(drugs)"
                        formControlName="drugs"
                        id="field_drugs"
                        data-cy="drugs"
                        [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>

                    <div *ngIf="editForm.get('drugs')!.invalid && (editForm.get('drugs')!.dirty || editForm.get('drugs')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('drugs')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <!---<div *ngIf="editForm.get(['treatment'])!.invalid && (editForm.get(['treatment'])!.dirty || editForm.get(['treatment'])!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get(['treatment'])?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>-->
            </div>

            <div>
                <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>

                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="cancel()" data-cy="entityCancelButton">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
            </div>
        </form>
    </div>
</div>
