<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="therapeuticRegime">
            <h2><span jhiTranslate="supportcareApp.therapeuticRegime.detail.title">Therapeutic Regime</span> {{ therapeuticRegime.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supportcareApp.therapeuticRegime.timing" [ngbTooltip]="'supportcareApp.therapeuticRegime.help.timing' | translate">Timing</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.timing }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.therapeuticRegime.dietary" [ngbTooltip]="'supportcareApp.therapeuticRegime.help.dietary' | translate">Dietary</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.dietary }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.therapeuticRegime.sideEffects" [ngbTooltip]="'supportcareApp.therapeuticRegime.help.sideEffects' | translate">Side Effects</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.sideEffects }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.therapeuticRegime.createUser" [ngbTooltip]="'supportcareApp.therapeuticRegime.help.createUser' | translate">Create User</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.createUser }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.therapeuticRegime.createDate" [ngbTooltip]="'supportcareApp.therapeuticRegime.help.createDate' | translate">Create Date</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.createDate }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.therapeuticRegime.updateUser" [ngbTooltip]="'supportcareApp.therapeuticRegime.help.updateUser' | translate">Update User</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.updateUser }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.therapeuticRegime.updateDate" [ngbTooltip]="'supportcareApp.therapeuticRegime.help.updateDate' | translate">Update Date</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.updateDate }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.therapeuticRegime.drug">Drug</span></dt>
                <dd>
                    <div *ngIf="therapeuticRegime.drugId">
                        <a [routerLink]="['/drug', therapeuticRegime.drugId, 'view']">{{ therapeuticRegime.drugId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/therapeutic-regime', therapeuticRegime.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
