<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="therapeuticRegime">
            <h2><span jhiTranslate="supportivecareApp.therapeuticRegime.detail.title">Therapeutic Regime</span> {{ therapeuticRegime.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.name" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.name }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.acronym" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.acronym' | translate">Acronym</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.acronym }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.purpose" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.purpose' | translate">Purpose</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.purpose }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.condition" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.condition' | translate">Condition</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.condition }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.timing" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.timing' | translate">Timing</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.timing }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.indication" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.indication' | translate">Indication</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.indication }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.criteria" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.criteria' | translate">Criteria</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.criteria }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.notice" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.notice' | translate">Notice</span></dt>
                <dd>
                    <span>{{ therapeuticRegime.notice }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.treatment">Treatment</span></dt>
                <dd>
                    <div *ngIf="therapeuticRegime.treatmentId">
                        <a [routerLink]="['/treatment', therapeuticRegime.treatmentId, 'view']">{{ therapeuticRegime.treatmentType }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.therapeuticRegime.diagnostic">Diagnostic</span></dt>
                <dd>
                    <div *ngIf="therapeuticRegime.diagnosticId">
                        <a [routerLink]="['/diagnostic', therapeuticRegime.diagnosticId, 'view']">{{ therapeuticRegime.diagnosticName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/therapeutic-regime', therapeuticRegime.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
