<div>
    <h2 id="page-heading" data-cy="NoticeHeading">
        <span customTranslate="supportivecareApp.notice.home.title">Notices</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary mr-2 d-none" (click)="reset()" [disabled]="isLoading">
                <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span customTranslate="supportivecareApp.notice.home.refreshListLabel">Refresh List</span>
            </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-notice" [routerLink]="['/notice/new']">
                <fa-icon icon="plus"></fa-icon>
                <span  customTranslate="supportivecareApp.notice.home.createLabel">
                Create a new Notice
                </span>
            </button>
        </div>
    </h2>

    <custom-alert-error></custom-alert-error>

    <custom-alert></custom-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notices?.length === 0">
        <span customTranslate="supportivecareApp.notice.home.notFound">No notices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notices && notices.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr customSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col" customSortBy="id"><span customTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" customSortBy="description"><span customTranslate="supportivecareApp.notice.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" customSortBy="evaluation"><span customTranslate="supportivecareApp.notice.evaluation">Evaluation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" customSortBy="intervention"><span customTranslate="supportivecareApp.notice.intervention">Intervention</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let notice of notices; trackBy: trackId" data-cy="entityTable">
                    <td><a [routerLink]="['/notice', notice.id, 'view']">{{ notice.id }}</a></td>
                    <td>{{ notice.description }}</td>
                    <td>{{ notice.evaluation }}</td>
                    <td>{{ notice.intervention }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/notice', notice.id, 'view']"
                                    class="btn btn-outline-primary btn-sm"
                                    data-cy="entityDetailsButton">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" customTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/notice', notice.id, 'edit']"
                                    class="btn btn-primary btn-sm"
                                    data-cy="entityEditButton">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" customTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(notice)"
                                    class="btn btn-danger btn-sm"
                                    data-cy="entityDeleteButton">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" customTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
