<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="feedback">
      <h2 data-cy="feedbackDetailsHeading"><span customTranslate="supportivecareApp.feedback.detail.title">Feedback</span></h2>

      <hr />

      <custom-alert-error></custom-alert-error>

      <custom-alert></custom-alert>

      <dl class="row-md jh-entity-details">
        <dt><span customTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ feedback.id }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.feedback.entityName"
            [ngbTooltip]="'supportivecareApp.feedback.help.entityName' | translate"
            >Entity Name</span
          >
        </dt>
        <dd>
          <span customTranslate="{{ 'supportivecareApp.EntityFeedback.' + feedback.entityName }}">{{ feedback.entityName }}</span>
        </dd>
        <dt>
          <span customTranslate="supportivecareApp.feedback.entityId" [ngbTooltip]="'supportivecareApp.feedback.help.entityId' | translate"
            >Entity Id</span
          >
        </dt>
        <dd>
          <span>{{ feedback.entityId }}</span>
        </dd>
        <dt>
          <span customTranslate="supportivecareApp.feedback.thumb" [ngbTooltip]="'supportivecareApp.feedback.help.thumb' | translate"
            >Thumb</span
          >
        </dt>
        <dd>
          <span>{{ feedback.thumb }}</span>
        </dd>
        <dt>
          <span customTranslate="supportivecareApp.feedback.reason" [ngbTooltip]="'supportivecareApp.feedback.help.reason' | translate"
            >Reason</span
          >
        </dt>
        <dd>
          <span>{{ feedback.reason }}</span>
        </dd>
        <dt>
          <span customTranslate="supportivecareApp.feedback.solved" [ngbTooltip]="'supportivecareApp.feedback.help.solved' | translate"
            >Solved</span
          >
        </dt>
        <dd>
          <span>{{ feedback.solved }}</span>
        </dd>
        <dt>
          <span customTranslate="supportivecareApp.feedback.anonym" [ngbTooltip]="'supportivecareApp.feedback.help.anonym' | translate"
            >Anonym</span
          >
        </dt>
        <dd>
          <span>{{ feedback.anonym }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span customTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/feedback', feedback.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span customTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
