<form name="cancelForm" (ngSubmit)="confirmCancel()">
  <div class="modal-header">
    <h5 class="modal-title mb-1" data-cy="outcomeCancelDialogHeading" customTranslate="entity.cancelPopUp.header">Confirm cancel operation</h5>
  </div>

  <div class="modal-body">
    <p id="custom-cancel-outcome-heading" customTranslate="entity.cancelPopUp.body "></p>
  </div>

  <div class="modal-footer">
    <button id="custom-confirm-cancel-outcome" data-cy="entityConfirmCancelButton" (click)="confirmCancel()" type="button" class="btn btn-danger">
      <span class="button-text" customTranslate="entity.action.leaveCreation">Leave</span>
    </button>

    <button type="button" class="btn button-transparent mr-auto" data-dismiss="modal" (click)="cancel()">
      <span class="button-text list-text-color" customTranslate="entity.action.cancel">Cancel</span>
    </button>
  </div>
</form>
