@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.notLoggedWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #474c68;
}
