<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="notice">
      <h2 data-cy="noticeDetailsHeading"><span customTranslate="supportivecareApp.notice.detail.title">Notice</span></h2>

      <hr />

      <custom-alert-error></custom-alert-error>

      <custom-alert></custom-alert>

      <dl class="row-md jh-entity-details">
        <dt><span customTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ notice.id }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.notice.description"
            [ngbTooltip]="'supportivecareApp.notice.help.description' | translate"
            >Description</span
          >
        </dt>
        <dd>
          <span>{{ notice.description }}</span>
        </dd>
        <dt>
          <span customTranslate="supportivecareApp.notice.evaluation" [ngbTooltip]="'supportivecareApp.notice.help.evaluation' | translate"
            >Evaluation</span
          >
        </dt>
        <dd>
          <span>{{ notice.evaluation }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.notice.intervention"
            [ngbTooltip]="'supportivecareApp.notice.help.intervention' | translate"
            >Intervention</span
          >
        </dt>
        <dd>
          <span>{{ notice.intervention }}</span>
        </dd>
        <dt><span customTranslate="supportivecareApp.notice.activeSubstance">Active Substance</span></dt>
        <dd>
          <div *ngIf="notice.activeSubstance">
            <a [routerLink]="['/active-substance', notice.activeSubstance?.id, 'view']">{{ notice.activeSubstance?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span customTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notice', notice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span customTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
