<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-guide-heading" jhiTranslate="supportcareApp.guide.home.createOrEditLabel">Create or edit a Guide</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supportcareApp.guide.description" for="field_description" [ngbTooltip]="'supportcareApp.guide.help.description' | translate">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supportcareApp.guide.createUser" for="field_createUser" [ngbTooltip]="'supportcareApp.guide.help.createUser' | translate">Create User</label>
                    <input type="text" class="form-control" name="createUser" id="field_createUser"
                           formControlName="createUser"/>
                    <div *ngIf="editForm.get('createUser')!.invalid && (editForm.get('createUser')!.dirty || editForm.get('createUser')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createUser')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supportcareApp.guide.createDate" for="field_createDate" [ngbTooltip]="'supportcareApp.guide.help.createDate' | translate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createDate')!.invalid && (editForm.get('createDate')!.dirty || editForm.get('createDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supportcareApp.guide.updateUser" for="field_updateUser" [ngbTooltip]="'supportcareApp.guide.help.updateUser' | translate">Update User</label>
                    <input type="text" class="form-control" name="updateUser" id="field_updateUser"
                           formControlName="updateUser"/>
                    <div *ngIf="editForm.get('updateUser')!.invalid && (editForm.get('updateUser')!.dirty || editForm.get('updateUser')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('updateUser')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supportcareApp.guide.updateDate" for="field_updateDate" [ngbTooltip]="'supportcareApp.guide.help.updateDate' | translate">Update Date</label>
                    <div class="d-flex">
                        <input id="field_updateDate" type="datetime-local" class="form-control" name="updateDate" formControlName="updateDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('updateDate')!.invalid && (editForm.get('updateDate')!.dirty || editForm.get('updateDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('updateDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('updateDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
