<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="guide">
            <h2><span jhiTranslate="supportcareApp.guide.detail.title">Guide</span> {{ guide.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supportcareApp.guide.description" [ngbTooltip]="'supportcareApp.guide.help.description' | translate">Description</span></dt>
                <dd>
                    <span>{{ guide.description }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.guide.createUser" [ngbTooltip]="'supportcareApp.guide.help.createUser' | translate">Create User</span></dt>
                <dd>
                    <span>{{ guide.createUser }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.guide.createDate" [ngbTooltip]="'supportcareApp.guide.help.createDate' | translate">Create Date</span></dt>
                <dd>
                    <span>{{ guide.createDate }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.guide.updateUser" [ngbTooltip]="'supportcareApp.guide.help.updateUser' | translate">Update User</span></dt>
                <dd>
                    <span>{{ guide.updateUser }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.guide.updateDate" [ngbTooltip]="'supportcareApp.guide.help.updateDate' | translate">Update Date</span></dt>
                <dd>
                    <span>{{ guide.updateDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/guide', guide.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
