<div>
    <h2 id="page-heading">
        <span jhiTranslate="supportcareApp.guide.home.title">Guides</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-guide" [routerLink]="['/guide/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="supportcareApp.guide.home.createLabel">
            Create a new Guide
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="guides?.length === 0">
        <span jhiTranslate="supportcareApp.guide.home.notFound">No guides found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="guides && guides.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="supportcareApp.guide.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createUser"><span jhiTranslate="supportcareApp.guide.createUser">Create User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createDate"><span jhiTranslate="supportcareApp.guide.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updateUser"><span jhiTranslate="supportcareApp.guide.updateUser">Update User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updateDate"><span jhiTranslate="supportcareApp.guide.updateDate">Update Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let guide of guides ;trackBy: trackId">
                    <td><a [routerLink]="['/guide', guide.id, 'view']">{{ guide.id }}</a></td>
                    <td>{{ guide.description }}</td>
                    <td>{{ guide.createUser }}</td>
                    <td>{{ guide.createDate | date:'medium' }}</td>
                    <td>{{ guide.updateUser }}</td>
                    <td>{{ guide.updateDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/guide', guide.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/guide', guide.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(guide)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="guides && guides.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
