<div class="entityWrapper">
  <div *ngIf="outcome">
    <button type="submit" [routerLink]="['/outcome']" class="btn button-transparent" data-cy="entityDetailsBackButton">
      <fa-icon class="list-text-color" icon="arrow-left"></fa-icon>&nbsp;<span class="list-text-color" customTranslate="entity.action.back">Back</span>
    </button>
    <button *customHasAnyAuthority="'ROLE_USER'" type="button" data-cy="entityEditButton" [routerLink]="['/outcome', outcome.id, 'edit']" class="btn btn-primary float-right button-create">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span customTranslate="supportivecareApp.outcome.home.editLabel">Edit PROM</span>
    </button>
    <button *customHasAnyAuthority="'ROLE_USER'" (click)="delete(outcome)" type="submit" class="btn button-transparent float-right button-delete" data-cy="entityDeleteButton">
      <fa-icon class="red-icon" icon="trash"></fa-icon>
    </button>
    <div class="entityLastUpdate">
      <h2 class="h2-color" data-cy="outcomeDetailsHeading">{{ outcome.name }}</h2>
      <div>
        <span customTranslate="entity.detail.lastUpdated"> </span>
        <span *ngIf="outcome.lastModifiedDate != null"
          ><em>{{ outcome.lastModifiedDate?.format(dateFormat) }}</em></span
        >
        <span *ngIf="outcome.lastModifiedDate == null"
          ><em>{{ outcome.createdDate?.format(dateFormat) }}</em></span
        >
      </div>
    </div>
    <div class="mainWrapper entityInfoWrapper">
      <custom-alert-error></custom-alert-error>
      <custom-alert></custom-alert>

      <div class="sectionWrapper">
        <h5 class="list-text-color-bold col-lg-12 mt-4 mb-4" customTranslate="supportivecareApp.outcome.generalInfo"></h5>
        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" customTranslate="supportivecareApp.outcome.description" [ngbTooltip]="'supportivecareApp.outcome.help.description' | translate"
            >Description</label
          >
          <p>
            <span>{{ outcome.description }}</span>
          </p>
        </div>
        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" customTranslate="supportivecareApp.outcome.attachmentDetails" [ngbTooltip]="'supportivecareApp.outcome.help.attachment' | translate"
            >File</label
          >
          <div *ngFor="let document of outcome.documents">
            <span>
              <a class="btn-link" (click)="downloadDocument(document)">{{ document.title }}</a>
            </span>
          </div>
        </div>
        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" customTranslate="supportivecareApp.outcome.link" [ngbTooltip]="'supportivecareApp.outcome.help.link' | translate"></label>
          <div>
            <span>
              <a class="btn-link" (click)="redirectToLink(outcome.link)">{{ outcome.link }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="thumbsWrapper">
      <h5 class="list-text-color" customTranslate="supportivecareApp.feedback.thumbs-up.title">Usefull info?</h5>
      <button class="btn" type="button" name="thumbUp" id="thumbUp" (click)="manageThumb(true)" data-cy="entityThumbUpButton" [disabled]="isSaving">
        <fa-icon *ngIf="thumbCount.thumb === true" icon="thumbs-up" style="color: #5c88f6" [spin]="isSaving"></fa-icon>
        <fa-icon *ngIf="thumbCount.thumb !== true" icon="thumbs-up" [spin]="isSaving"></fa-icon>
        <span>{{ thumbCount.countThumbUp }}</span>
      </button>
      <button class="btn" type="button" name="thumbDown" id="thumbDown" (click)="manageThumb(false)" data-cy="entityThumbDownButton" [disabled]="isSaving">
        <fa-icon *ngIf="thumbCount.thumb === false" icon="thumbs-down" style="color: #5c88f6" [spin]="isSaving"></fa-icon>
        <fa-icon *ngIf="thumbCount.thumb !== false" icon="thumbs-down" [spin]="isSaving"></fa-icon>
        <span>{{ thumbCount.countThumbDown }}</span>
      </button>
    </div>
    <span class="h2-color list-text-color-bold h2" customTranslate="supportivecareApp.feedback.improvements-suggestion.title"> Improvements suggestions </span>
    <span *ngIf="feedbacks?.length" class="title-color h2"> ({{ feedbacks?.length }})</span>
    <div class="mainWrapper entityInfoWrapper">
      <custom-feedback-entity-list-header [feedbacks]="feedbacks"></custom-feedback-entity-list-header>
      <div *ngIf="feedbacks && feedbacks.length > 0">
        <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
          <span *ngFor="let feedback of feedbacks; let last = last">
            <custom-feedback-entity-list-card [feedback]="feedback"></custom-feedback-entity-list-card>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
