<div class="card shadow-none bg-white">
  <div class="card-header bg-white border-0 feedback-card-header-color">
    <span *ngIf="feedback.anonym" customTranslate="supportivecareApp.feedback.anonym">Anonym</span>
    <span *ngIf="!feedback.anonym">{{ feedback.createdBy }}</span>
    <span class="float-right">{{ feedback.createdDate?.format(dateFormat) }}</span>
  </div>
  <div class="card-body bg-white">
    <span>{{ feedback.reason }}</span>
  </div>
  <div *customHasAnyAuthority="'ROLE_USER'" class="card-footer bg-white border-0">
    <button type="button" class="btn bg-transparent button-transparent float-left">
      <fa-icon class="list-text-color" icon="check-circle"></fa-icon>&nbsp;<span class="list-text-color" customTranslate="supportivecareApp.feedback.actions.markAsSolved">Mark as solved</span>
    </button>
  </div>
</div>
