<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="custom-drug-heading" data-cy="DrugCreateUpdateHeading" customTranslate="supportivecareApp.drug.home.createOrEditLabel">Create or edit a Drug</h2>

            <div>
                <custom-alert-error></custom-alert-error>


                <div class="form-group" [hidden]="editForm.get('id')?.value == null">
                    <label class="form-control-label" customTranslate="global.field.id" for="field_id">ID</label>
                    <input type="number" class="form-control" name="id" id="field_id" data-cy="id"
                           formControlName="id" readonly/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" customTranslate="supportivecareApp.drug.name" for="field_name" [ngbTooltip]="'supportivecareApp.drug.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" data-cy="name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" customTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" customTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }">
                        This field cannot be longer than 250 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" customTranslate="supportivecareApp.drug.description" for="field_description" [ngbTooltip]="'supportivecareApp.drug.help.description' | translate">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description" data-cy="description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.maxlength" customTranslate="entity.validation.maxlength" [translateValues]="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label customTranslate="supportivecareApp.drug.notice" for="field_notices">Notice</label>
                    <select class="form-control" id="field_notices" data-cy="notice" multiple name="notices" formControlName="notices">
                        <option [ngValue]="getSelected(noticeOption, editForm.get('notices')!.value)" *ngFor="let noticeOption of notices; trackBy: trackById">{{ noticeOption.description }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" customTranslate="supportivecareApp.drug.administration" for="field_administration">Administration</label>
                    <select class="form-control" id="field_administration" data-cy="administration" name="administration" formControlName="administration">
                        <option *ngIf="!editForm.get('administration')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="administrationOption.id === editForm.get('administration')!.value?.id ? editForm.get('administration')!.value : administrationOption" *ngFor="let administrationOption of administrations; trackBy: trackById">{{ administrationOption.type }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get(['administration'])!.invalid && (editForm.get(['administration'])!.dirty || editForm.get(['administration'])!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get(['administration'])?.errors?.required" customTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span customTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span customTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
