<div>
  <h2 id="page-heading" data-cy="TherapeuticRegimeHeading">
    <span customTranslate="supportivecareApp.therapeuticRegime.home.title">Therapeutic Regimes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span customTranslate="supportivecareApp.therapeuticRegime.home.refreshListLabel">Refresh List</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-therapeutic-regime" [routerLink]="['/therapeutic-regime/new']">
        <fa-icon icon="plus"></fa-icon>
        <span customTranslate="supportivecareApp.therapeuticRegime.home.createLabel"> Create a new Therapeutic Regime </span>
      </button>
    </div>
  </h2>

  <custom-alert-error></custom-alert-error>

  <custom-alert></custom-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="therapeuticRegimes?.length === 0">
    <span customTranslate="supportivecareApp.therapeuticRegime.home.notFound">No therapeuticRegimes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="therapeuticRegimes && therapeuticRegimes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr customSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" customSortBy="id"><span customTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" customSortBy="name"><span customTranslate="supportivecareApp.therapeuticRegime.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" customSortBy="acronym"><span customTranslate="supportivecareApp.therapeuticRegime.acronym">Acronym</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" customSortBy="purpose"><span customTranslate="supportivecareApp.therapeuticRegime.purpose">Purpose</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" customSortBy="condition"><span customTranslate="supportivecareApp.therapeuticRegime.condition">Condition</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" customSortBy="timing"><span customTranslate="supportivecareApp.therapeuticRegime.timing">Timing</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" customSortBy="indication"><span customTranslate="supportivecareApp.therapeuticRegime.indication">Indication</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" customSortBy="criteria"><span customTranslate="supportivecareApp.therapeuticRegime.criteria">Criteria</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" customSortBy="notice"><span customTranslate="supportivecareApp.therapeuticRegime.notice">Notice</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" customSortBy="treatment.type"><span customTranslate="supportivecareApp.therapeuticRegime.treatment">Treatment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let therapeuticRegime of therapeuticRegimes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/therapeutic-regime', therapeuticRegime.id, 'view']">{{ therapeuticRegime.id }}</a>
          </td>
          <td>{{ therapeuticRegime.name }}</td>
          <td>{{ therapeuticRegime.acronym }}</td>
          <td>{{ therapeuticRegime.purpose }}</td>
          <td>{{ therapeuticRegime.condition }}</td>
          <td>{{ therapeuticRegime.timing }}</td>
          <td>{{ therapeuticRegime.indication }}</td>
          <td>{{ therapeuticRegime.criteria }}</td>
          <td>{{ therapeuticRegime.notice }}</td>
          <td>
            <div *ngIf="therapeuticRegime.treatment">
              <a [routerLink]="['/treatment', therapeuticRegime.treatment?.id, 'view']">{{ therapeuticRegime.treatment?.type }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/therapeutic-regime', therapeuticRegime.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" customTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/therapeutic-regime', therapeuticRegime.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" customTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(therapeuticRegime)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" customTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
