<div>
    <h2 id="page-heading" data-cy="DocumentHeading">
        <span customTranslate="supportivecareApp.document.home.title">Documents</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary mr-2 d-none" (click)="reset()" [disabled]="isLoading">
                <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span customTranslate="supportivecareApp.document.home.refreshListLabel">Refresh List</span>
            </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-document" [routerLink]="['/document/new']">
                <fa-icon icon="plus"></fa-icon>
                <span  customTranslate="supportivecareApp.document.home.createLabel">
                Create a new Document
                </span>
            </button>
        </div>
    </h2>

    <custom-alert-error></custom-alert-error>

    <custom-alert></custom-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="documents?.length === 0">
        <span customTranslate="supportivecareApp.document.home.notFound">No documents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="documents && documents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr customSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col" customSortBy="id"><span customTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" customSortBy="title"><span customTranslate="supportivecareApp.document.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" customSortBy="size"><span customTranslate="supportivecareApp.document.size">Size</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" customSortBy="mimeType"><span customTranslate="supportivecareApp.document.mimeType">Mime Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  customSortBy="content.id"><span customTranslate="supportivecareApp.document.content">Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  customSortBy="outcome.name"><span customTranslate="supportivecareApp.document.outcome">Outcome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let document of documents; trackBy: trackId" data-cy="entityTable">
                    <td><a [routerLink]="['/document', document.id, 'view']">{{ document.id }}</a></td>
                    <td>{{ document.title }}</td>
                    <td>{{ document.size }}</td>
                    <td>{{ document.mimeType }}</td>
                    <td>
                        <div *ngIf="document.content">
                            <a [routerLink]="['/content', document.content?.id, 'view']" >{{ document.content?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="document.outcome">
                            <a [routerLink]="['/outcome', document.outcome?.id, 'view']" >{{ document.outcome?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/document', document.id, 'view']"
                                    class="btn btn-outline-primary btn-sm"
                                    data-cy="entityDetailsButton">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" customTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/document', document.id, 'edit']"
                                    class="btn btn-primary btn-sm"
                                    data-cy="entityEditButton">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" customTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(document)"
                                    class="btn btn-danger btn-sm"
                                    data-cy="entityDeleteButton">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" customTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
