<div [ngSwitch]="isAuthenticated()">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="entityWrapper home">
        <h8 class="text-primary font-weight-bold" customTranslate="home.title">Welcome</h8>
        <h8 class="text-primary" id="home-logged-message" *ngIf="account" customTranslate="home.title2" [translateValues]="{ username: account.login }">
          <span class="title-color"> {{ account.login }}!.</span></h8
        >
      </div>
      <p class="text-secondary p" customTranslate="home.navigate">Navigate</p>
      <a class="box1" style="width: 290px; height: 230px" routerLink="/therapeutic-regime">
        <div class="img">
          <fa-icon class="icon" icon="pills"></fa-icon>
        </div>
        <div class="img">
          <span customTranslate="home.link.therapeutic-regime" style="font-size: 0.83rem !important">Therapeutical Regime</span>
        </div>
      </a>
      <a class="box1" style="width: 290px; height: 230px" routerLink="/symptom">
        <div class="img">
          <fa-icon class="icon" icon="head-side-cough"></fa-icon>
        </div>
        <div class="img">
          <span customTranslate="home.link.symptom" style="font-size: 0.83rem !important">Symptom</span>
        </div>
      </a>
      <a class="box1" style="width: 290px; height: 230px" routerLink="/outcome">
        <div class="img">
          <fa-icon class="icon" icon="file-medical-alt"></fa-icon>
        </div>

        <div class="img" style="width: 290px; height: 230px">
          <span customTranslate="home.link.outcome" style="font-size: 0.83rem !important">PROMs</span>
        </div>
      </a>
    </div>
  </div>
</div>
