<div [ngSwitch]="isAuthenticated()">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="entityWrapper home">
        <h8 class="text-primary font-weight-bold" customTranslate="home.title">Welcome</h8>
        <h8 class="text-primary" id="home-logged-message" *ngIf="account" customTranslate="home.title2" [translateValues]="{ username: account.login }"></h8>
      </div>
      <p class="text-secondary p" customTranslate="home.navigate"></p>
      <div class="buttonWrapper">
        <a class="homeButton" routerLink="/therapeutic-regime">
          <fa-icon class="icon" icon="pills"></fa-icon>
          <span customTranslate="home.link.therapeutic-regime"></span>
        </a>
        <a class="homeButton" routerLink="/symptom">
          <fa-icon class="icon" icon="head-side-cough"></fa-icon>
          <span customTranslate="home.link.symptom"></span>
        </a>
        <a class="homeButton" routerLink="/outcome">
          <fa-icon class="icon" icon="file-medical-alt"></fa-icon>
          <span customTranslate="home.link.outcome"></span>
        </a>
        <a class="homeButton" routerLink="/active-substance">
          <fa-icon class="icon" icon="file-medical-alt"></fa-icon>
          <span customTranslate="home.link.active-substance"></span>
        </a>
      </div>
    </div>
  </div>
</div>
