

<div class="row justify-content-center">
    <span class="col-8">
        <div *ngIf="symptom">
            <button type="submit"
                    (click)="previousState()"
                    class="btn button-transparent"
                    data-cy="entityDetailsBackButton">
                <fa-icon class="list-text-color" icon="arrow-left"></fa-icon>&nbsp;<span class="list-text-color" jhiTranslate="entity.action.back">Back</span>
            </button>
            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="button"
                    [routerLink]="['/symptom', symptom.id, 'edit']"
                    class="btn btn-primary float-right">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="submit" (click)="delete(symptom)"
                    class="btn float-right button-transparent "
                    data-cy="entityDeleteButton">
                <fa-icon class="red-icon" icon="trash"></fa-icon>
            </button>

            <h2 class="h2-color" data-cy="symptomDetailsHeading"><span>{{ symptom.name }}</span></h2>

            <custom-alert-error></custom-alert-error>

            <custom-alert></custom-alert>

            <!-- Begin of Therapeutical Regime Information Block -->
            <div class="bg-light div-detail-spacing" >
                <h5 class="list-text-color-bold col-lg-12 mt-4 mb-4"  jhiTranslate="supportivecareApp.therapeuticRegime.generalInfo">General information</h5>
                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.therapeuticRegime.titleBlock" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.regime' | translate">Assigned Therapeutic Regimes</label>
                    <p><span *ngFor="let therapeuticRegime of symptom.therapeuticRegimes; let last = last">
                        <a [routerLink]="['/therapeutic-regime', therapeuticRegime?.id, 'view']">{{ therapeuticRegime.name }}</a>{{ last ? '' : ', ' }}
                    </span></p>
                </div>

                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.symptom.notice" [ngbTooltip]="'supportivecareApp.symptom.help.notice' | translate">Notice</label>
                    <p><span>{{ symptom.notice }}</span></p>
                </div>

                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.symptom.outcome" [ngbTooltip]="'supportivecareApp.symptom.outcome' | translate">Outcome</label>
                    <p><span *ngFor="let outcome of symptom.outcomes; let last = last">
                        <a [routerLink]="['/outcome', outcome?.id, 'view']">{{ outcome.name }}</a>{{ last ? '' : ', ' }}
                    </span></p>
                </div>

            </div>

<!--  Begin Interventions -->
            <div class="accordion" id="accordionExample">
                <span *ngFor="let toxicityRate of symptom.toxicityRates; let last = last">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Intervenção Recomendada - {{ toxicityRate.name }}
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-group col-lg-12">
                                <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.description" [ngbTooltip]="'supportivecareApp.toxicityRate.description' | translate">description</label>
                                   <p><span>{{ toxicityRate.description }}</span></p>

                                <div class="form-group border col-lg-12">
                                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.notice" [ngbTooltip]="'supportivecareApp.toxicityRate.notice' | translate">notice</label>
                                    <p><span>{{ toxicityRate.notice }}</span></p>
                                </div>

                                <div class="form-group border col-lg-12">
                                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.autonomousIntervention" [ngbTooltip]="'supportivecareApp.toxicityRate.autonomousIntervention' | translate">autonomousIntervention</label>
                                    <p><span>{{ toxicityRate.autonomousIntervention }}</span></p>
                                </div>

                                <div class="form-group border col-lg-12">
                                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.interdependentIntervention" [ngbTooltip]="'supportivecareApp.toxicityRate.interdependentIntervention' | translate">interdependentIntervention</label>
                                    <p><span>{{ toxicityRate.interdependentIntervention }}</span></p>
                                </div>

                                <div class="form-group border col-lg-12">
                                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.toxicityRate.selfManagement" [ngbTooltip]="'supportivecareApp.toxicityRate.selfManagement' | translate">selfManagement</label>
                                    <p><span>{{ toxicityRate.selfManagement }}</span></p>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
                </span>
            </div>
        </div>
