<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="symptom">
            <button type="submit"
                    (click)="previousState()"
                    class="btn button-transparent"
                    data-cy="entityDetailsBackButton">
                <fa-icon class="list-text-color" icon="arrow-left"></fa-icon>&nbsp;<span class="list-text-color" jhiTranslate="entity.action.back">Back</span>
            </button>
            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="button"
                    [routerLink]="['/symptom', symptom.id, 'edit']"
                    class="btn btn-primary float-right">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="submit" (click)="delete(symptom)"
                    class="btn float-right button-transparent "
                    data-cy="entityDeleteButton">
                <fa-icon class="red-icon" icon="trash"></fa-icon>
            </button>

            <h2 class="h2-color" data-cy="symptomDetailsHeading"><span jhiTranslate="supportivecareApp.symptom.detail.title">{{ symptom.name }}</span></h2>

            <custom-alert-error></custom-alert-error>

            <custom-alert></custom-alert>

            <!-- Begin of Therapeutical Regime Information Block -->
            <div class="bg-light div-detail-spacing" >
                <h5 class="list-text-color-bold col-lg-12 mt-4 mb-4"  jhiTranslate="supportivecareApp.therapeuticRegime.generalInfo">General information</h5>

                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.therapeuticRegime.titleBlock" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.regime' | translate">Assigned Therapeutic Regimes</label>

                    <span *ngFor="let therapeuticRegime of symptom.therapeuticRegimes; let last = last">
                        <a [routerLink]="['/therapeutic-regime', therapeuticRegime?.id, 'view']">{{ therapeuticRegime.name }}</a>{{ last ? '' : ', ' }}
                    </span>

                </div>

                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.drug.description" [ngbTooltip]="'supportivecareApp.symptom.help.description' | translate">Description</label>
                    <p><span>{{ symptom.notice }}</span></p>
                </div>
                <div class="form-group col-lg-9">
                    <label class="form-control-label font-weight-bold" jhiTranslate="supportivecareApp.drug.administration">Administration</label>
                    <div *ngIf="drug.administration">
                        <span>{{ drug.administration?.type }}</span>
                    </div>
                </div>
            </div>

            <!-- End of Therapeutical Regime Information Block -->

<!--
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="global.field.id">ID</span></dt>
                <dd>
                    <span>{{ symptom.id }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.name" [ngbTooltip]="'supportivecareApp.symptom.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ symptom.name }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.notice" [ngbTooltip]="'supportivecareApp.symptom.help.notice' | translate">Notice</span></dt>
                <dd>
                    <span>{{ symptom.notice }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.therapeuticRegime">Therapeutic Regime</span></dt>
                <dd>
                    <span *ngFor="let therapeuticRegime of symptom.therapeuticRegimes; let last = last">
                        <a [routerLink]="['/therapeutic-regime', therapeuticRegime?.id, 'view']">{{ therapeuticRegime.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.outcome">Outcome</span></dt>
                <dd>
                    <span *ngFor="let outcome of symptom.outcomes; let last = last">
                        <a [routerLink]="['/outcome', outcome?.id, 'view']">{{ outcome.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.toxicityRate">Toxicity Rate</span></dt>
                <dd>
                    <span *ngFor="let toxicityRate of symptom.toxicityRates; let last = last">
                        <a [routerLink]="['/toxicity-rate', toxicityRate?.id, 'view']">{{ toxicityRate.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl> -->
        </div>
    </div>
</div>
