<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="symptom">
            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="submit" (click)="delete(symptom)"
                    class="btn float-right button-transparent "
                    data-cy="entityDeleteButton">
                <fa-icon class="red-icon" icon="trash"></fa-icon>
            </button>
            <h2 data-cy="symptomDetailsHeading"><span jhiTranslate="supportivecareApp.symptom.detail.title">Symptom</span></h2>

            <hr>



            <custom-alert-error></custom-alert-error>

            <custom-alert></custom-alert>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="global.field.id">ID</span></dt>
                <dd>
                    <span>{{ symptom.id }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.name" [ngbTooltip]="'supportivecareApp.symptom.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ symptom.name }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.notice" [ngbTooltip]="'supportivecareApp.symptom.help.notice' | translate">Notice</span></dt>
                <dd>
                    <span>{{ symptom.notice }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.therapeuticRegime">Therapeutic Regime</span></dt>
                <dd>
                    <span *ngFor="let therapeuticRegime of symptom.therapeuticRegimes; let last = last">
                        <a [routerLink]="['/therapeutic-regime', therapeuticRegime?.id, 'view']">{{ therapeuticRegime.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.outcome">Outcome</span></dt>
                <dd>
                    <span *ngFor="let outcome of symptom.outcomes; let last = last">
                        <a [routerLink]="['/outcome', outcome?.id, 'view']">{{ outcome.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.symptom.toxicityRate">Toxicity Rate</span></dt>
                <dd>
                    <span *ngFor="let toxicityRate of symptom.toxicityRates; let last = last">
                        <a [routerLink]="['/toxicity-rate', toxicityRate?.id, 'view']">{{ toxicityRate.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info"
                    data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="button"
                    [routerLink]="['/symptom', symptom.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
