<div>
    <h2 id="page-heading" data-cy="SymptomHeading">
        <span customTranslate="supportivecareApp.symptom.home.title">Symptoms</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary mr-2 d-none" (click)="reset()" [disabled]="isLoading">
                <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span customTranslate="supportivecareApp.symptom.home.refreshListLabel">Refresh List</span>
            </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-symptom" [routerLink]="['/symptom/new']">
                <fa-icon icon="head-side-cough"></fa-icon>
                <span  customTranslate="supportivecareApp.symptom.home.createLabel">
                Create a new Symptom
                </span>
            </button>
        </div>
    </h2>

    <custom-alert-error></custom-alert-error>

    <custom-alert></custom-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="symptoms?.length === 0">
        <span customTranslate="supportivecareApp.symptom.home.notFound">No symptoms found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="symptoms && symptoms.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr customSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col" customSortBy="name"><span customTranslate="supportivecareApp.symptom.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let symptom of symptoms; trackBy: trackId" data-cy="entityTable">
                    <td><a [routerLink]="['/symptom', symptom.id, 'view']">{{ symptom.name }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
