<div>
    <h2 id="page-heading">
        <span jhiTranslate="supportcareApp.protocol.home.title">Protocols</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-protocol" [routerLink]="['/protocol/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="supportcareApp.protocol.home.createLabel">
            Create a new Protocol
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="protocols?.length === 0">
        <span jhiTranslate="supportcareApp.protocol.home.notFound">No protocols found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="protocols && protocols.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="toxicityDiagnosis"><span jhiTranslate="supportcareApp.protocol.toxicityDiagnosis">Toxicity Diagnosis</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createUser"><span jhiTranslate="supportcareApp.protocol.createUser">Create User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createDate"><span jhiTranslate="supportcareApp.protocol.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updateUser"><span jhiTranslate="supportcareApp.protocol.updateUser">Update User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updateDate"><span jhiTranslate="supportcareApp.protocol.updateDate">Update Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="therapeuticRegimeId"><span jhiTranslate="supportcareApp.protocol.therapeuticRegime">Therapeutic Regime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="outcomeId"><span jhiTranslate="supportcareApp.protocol.outcome">Outcome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="guideId"><span jhiTranslate="supportcareApp.protocol.guide">Guide</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let protocol of protocols ;trackBy: trackId">
                    <td><a [routerLink]="['/protocol', protocol.id, 'view']">{{ protocol.id }}</a></td>
                    <td>{{ protocol.toxicityDiagnosis }}</td>
                    <td>{{ protocol.createUser }}</td>
                    <td>{{ protocol.createDate | date:'medium' }}</td>
                    <td>{{ protocol.updateUser }}</td>
                    <td>{{ protocol.updateDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="protocol.therapeuticRegimeId">
                            <a [routerLink]="['/therapeutic-regime', protocol.therapeuticRegimeId , 'view']" >{{ protocol.therapeuticRegimeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="protocol.outcomeId">
                            <a [routerLink]="['/outcome', protocol.outcomeId , 'view']" >{{ protocol.outcomeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="protocol.guideId">
                            <a [routerLink]="['/guide', protocol.guideId , 'view']" >{{ protocol.guideId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/protocol', protocol.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/protocol', protocol.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(protocol)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="protocols && protocols.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
