<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="protocol">
            <h2><span jhiTranslate="supportcareApp.protocol.detail.title">Protocol</span> {{ protocol.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supportcareApp.protocol.toxicityDiagnosis" [ngbTooltip]="'supportcareApp.protocol.help.toxicityDiagnosis' | translate">Toxicity Diagnosis</span></dt>
                <dd>
                    <span>{{ protocol.toxicityDiagnosis }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.protocol.createUser" [ngbTooltip]="'supportcareApp.protocol.help.createUser' | translate">Create User</span></dt>
                <dd>
                    <span>{{ protocol.createUser }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.protocol.createDate" [ngbTooltip]="'supportcareApp.protocol.help.createDate' | translate">Create Date</span></dt>
                <dd>
                    <span>{{ protocol.createDate }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.protocol.updateUser" [ngbTooltip]="'supportcareApp.protocol.help.updateUser' | translate">Update User</span></dt>
                <dd>
                    <span>{{ protocol.updateUser }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.protocol.updateDate" [ngbTooltip]="'supportcareApp.protocol.help.updateDate' | translate">Update Date</span></dt>
                <dd>
                    <span>{{ protocol.updateDate }}</span>
                </dd>
                <dt><span jhiTranslate="supportcareApp.protocol.therapeuticRegime">Therapeutic Regime</span></dt>
                <dd>
                    <div *ngIf="protocol.therapeuticRegimeId">
                        <a [routerLink]="['/therapeutic-regime', protocol.therapeuticRegimeId, 'view']">{{ protocol.therapeuticRegimeId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="supportcareApp.protocol.outcome">Outcome</span></dt>
                <dd>
                    <div *ngIf="protocol.outcomeId">
                        <a [routerLink]="['/outcome', protocol.outcomeId, 'view']">{{ protocol.outcomeId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="supportcareApp.protocol.guide">Guide</span></dt>
                <dd>
                    <div *ngIf="protocol.guideId">
                        <a [routerLink]="['/guide', protocol.guideId, 'view']">{{ protocol.guideId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/protocol', protocol.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
