<div class="entityWrapper">
  <div *ngIf="therapeuticRegime">
    <button type="submit" [routerLink]="['/therapeutic-regime']" class="btn button-transparent" data-cy="entityDetailsBackButton">
      <fa-icon class="list-text-color" icon="arrow-left"></fa-icon>&nbsp;<span class="list-text-color" customTranslate="entity.action.back">Back</span>
    </button>
    <button
      *customHasAnyAuthority="'ROLE_USER'"
      type="button"
      data-cy="entityEditButton"
      [routerLink]="['/therapeutic-regime', therapeuticRegime.id, 'edit']"
      class="btn btn-primary float-right button-create"
    >
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span customTranslate="entity.action.edit">Edit</span>
    </button>
    <button *customHasAnyAuthority="'ROLE_USER'" type="submit" (click)="delete(therapeuticRegime)" class="btn button-transparent float-right button-delete" data-cy="entityDeleteButton">
      <fa-icon class="red-icon" icon="trash"></fa-icon>
    </button>

    <div class="entityLastUpdate">
      <h2 class="h2-color" data-cy="therapeuticRegimeDetailsHeading">
        {{ therapeuticRegime.name }}<span *ngIf="therapeuticRegime.acronym" class="title-color"> ({{ therapeuticRegime.acronym }})</span>
      </h2>
      <div>
        <span customTranslate="entity.detail.lastUpdated"> </span>
        <span *ngIf="therapeuticRegime.lastModifiedDate != null"
          ><em>{{ therapeuticRegime.lastModifiedDate?.format(dateFormat) }}</em></span
        >
        <span *ngIf="therapeuticRegime.lastModifiedDate == null"
          ><em>{{ therapeuticRegime.createdDate?.format(dateFormat) }}</em></span
        >
      </div>
    </div>
    <div class="mainWrapper entityInfoWrapper">
      <custom-alert-error></custom-alert-error>
      <custom-alert></custom-alert>
      <div class="sectionWrapper">
        <h5 class="col-lg-12 mt-4 mb-4 list-text-color-bold" customTranslate="supportivecareApp.therapeuticRegime.generalInfo">>General information</h5>
        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" customTranslate="supportivecareApp.therapeuticRegime.purpose" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.purpose' | translate"
            >Purpose</label
          >
          <p>
            <span>{{ therapeuticRegime.purpose }}</span>
          </p>
        </div>
        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" customTranslate="supportivecareApp.therapeuticRegime.treatment">Treatment</label>
          <div *ngIf="therapeuticRegime.treatment">
            <span>{{ therapeuticRegime.treatment?.type }}</span>
          </div>
        </div>
        <div class="form-group col-lg-9">
          <label
            class="form-control-label font-weight-bold"
            customTranslate="supportivecareApp.therapeuticRegime.condition"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.condition' | translate"
            >Condition</label
          >
          <p>
            <span>{{ therapeuticRegime.condition }}</span>
          </p>
        </div>
        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" customTranslate="supportivecareApp.therapeuticRegime.timing" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.timing' | translate"
            >Timing</label
          >
          <p>
            <span>{{ therapeuticRegime.timing }}</span>
          </p>
        </div>
        <div class="form-group col-lg-9">
          <label
            class="form-control-label font-weight-bold"
            customTranslate="supportivecareApp.therapeuticRegime.indication"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.indication' | translate"
            >Indication</label
          >
          <p>
            <span>{{ therapeuticRegime.indication }}</span>
          </p>
        </div>
        <div class="form-group col-lg-9">
          <label
            class="form-control-label font-weight-bold"
            customTranslate="supportivecareApp.therapeuticRegime.criteria"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.criteria' | translate"
            >Criteria</label
          >
          <p>
            <span>{{ therapeuticRegime.criteria }}</span>
          </p>
        </div>
        <div class="form-group col-lg-9">
          <label class="form-control-label font-weight-bold" customTranslate="supportivecareApp.therapeuticRegime.notice" [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.notice' | translate"
            >Notice</label
          >
          <p>
            <span>{{ therapeuticRegime.notice }}</span>
          </p>
        </div>
        <div class="form-group col-lg-9 font-weight-bold">
          <label class="form-control-label font-weight-bold" customTranslate="supportivecareApp.therapeuticRegime.activeSubstance">Active Substance</label>
          <p>
            <span *ngFor="let activeSubstance of therapeuticRegime.activeSubstances; let last = last">
              <a [routerLink]="['/active-substance', activeSubstance?.id, 'view']">{{ activeSubstance.name }} - {{ activeSubstance.dosage }} ({{ activeSubstance.form }})</a>{{ last ? '' : ', ' }}
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="thumbsWrapper">
      <h5 class="list-text-color" customTranslate="supportivecareApp.feedback.thumbs-up.title">Usefull info?</h5>
      <button class="btn" type="button" name="thumbUp" id="thumbUp" (click)="manageThumb(true)" data-cy="entityThumbUpButton" [disabled]="isSaving">
        <fa-icon *ngIf="thumbCount.thumb === true" icon="thumbs-up" style="color: #5c88f6" [spin]="isSaving"></fa-icon>
        <fa-icon *ngIf="thumbCount.thumb !== true" icon="thumbs-up" [spin]="isSaving"></fa-icon>
        <span>{{ thumbCount.countThumbUp }}</span>
      </button>
      <button class="btn" type="button" name="thumbDown" id="thumbDown" (click)="manageThumb(false)" data-cy="entityThumbDownButton" [disabled]="isSaving">
        <fa-icon *ngIf="thumbCount.thumb === false" icon="thumbs-down" style="color: #5c88f6" [spin]="isSaving"></fa-icon>
        <fa-icon *ngIf="thumbCount.thumb !== false" icon="thumbs-down" [spin]="isSaving"></fa-icon>
        <span>{{ thumbCount.countThumbDown }}</span>
      </button>
    </div>
    <span class="h2-color list-text-color-bold h2" customTranslate="supportivecareApp.feedback.improvements-suggestion.title"> Improvements suggestions </span>
    <span *ngIf="feedbacks?.length" class="title-color h2"> ({{ feedbacks?.length }})</span>
    <div class="mainWrapper entityInfoWrapper">
      <custom-feedback-entity-list-header [feedbacks]="feedbacks"></custom-feedback-entity-list-header>
      <div *ngIf="feedbacks && feedbacks.length > 0">
        <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
          <span *ngFor="let feedback of feedbacks; let last = last">
            <custom-feedback-entity-list-card [feedback]="feedback"></custom-feedback-entity-list-card>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
