<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="therapeuticRegime">
      <h2 data-cy="therapeuticRegimeDetailsHeading">
        <span customTranslate="supportivecareApp.therapeuticRegime.detail.title">Therapeutic Regime</span>
      </h2>

      <hr />

      <custom-alert-error></custom-alert-error>

      <custom-alert></custom-alert>

      <dl class="row-md jh-entity-details">
        <dt><span customTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ therapeuticRegime.id }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.therapeuticRegime.name"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.name' | translate"
            >Name</span
          >
        </dt>
        <dd>
          <span>{{ therapeuticRegime.name }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.therapeuticRegime.acronym"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.acronym' | translate"
            >Acronym</span
          >
        </dt>
        <dd>
          <span>{{ therapeuticRegime.acronym }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.therapeuticRegime.purpose"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.purpose' | translate"
            >Purpose</span
          >
        </dt>
        <dd>
          <span>{{ therapeuticRegime.purpose }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.therapeuticRegime.condition"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.condition' | translate"
            >Condition</span
          >
        </dt>
        <dd>
          <span>{{ therapeuticRegime.condition }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.therapeuticRegime.timing"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.timing' | translate"
            >Timing</span
          >
        </dt>
        <dd>
          <span>{{ therapeuticRegime.timing }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.therapeuticRegime.indication"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.indication' | translate"
            >Indication</span
          >
        </dt>
        <dd>
          <span>{{ therapeuticRegime.indication }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.therapeuticRegime.criteria"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.criteria' | translate"
            >Criteria</span
          >
        </dt>
        <dd>
          <span>{{ therapeuticRegime.criteria }}</span>
        </dd>
        <dt>
          <span
            customTranslate="supportivecareApp.therapeuticRegime.notice"
            [ngbTooltip]="'supportivecareApp.therapeuticRegime.help.notice' | translate"
            >Notice</span
          >
        </dt>
        <dd>
          <span>{{ therapeuticRegime.notice }}</span>
        </dd>
        <dt><span customTranslate="supportivecareApp.therapeuticRegime.activeSubstance">Active Substance</span></dt>
        <dd>
          <span *ngFor="let activeSubstance of therapeuticRegime.activeSubstances; let last = last">
            <a [routerLink]="['/active-substance', activeSubstance?.id, 'view']">{{ activeSubstance.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span customTranslate="supportivecareApp.therapeuticRegime.treatment">Treatment</span></dt>
        <dd>
          <div *ngIf="therapeuticRegime.treatment">
            <a [routerLink]="['/treatment', therapeuticRegime.treatment?.id, 'view']">{{ therapeuticRegime.treatment?.type }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span customTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/therapeutic-regime', therapeuticRegime.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span customTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
