<form name="cancelForm" (ngSubmit)="confirmCancel()">
  <div class="modal-header">
    <h5 class="modal-title mb-1" data-cy="therapeuticRegimeCancelDialogHeading" customTranslate="supportivecareApp.therapeuticRegime.cancel.title">Confirm cancel operation</h5>
  </div>

  <div class="modal-body">
    <p id="custom-cancel-therapeuticRegime-heading" customTranslate="supportivecareApp.therapeuticRegime.cancel.question">Are you sure you want to cancel this Therapeutic Regime?</p>
  </div>

  <div class="modal-footer">
    <button id="custom-confirm-cancel-therapeuticRegime" data-cy="entityConfirmCancelButton" (click)="confirmCancel()" type="button" class="btn btn-danger">
      <span class="button-text" customTranslate="entity.action.leaveCreation">Leave</span>
    </button>

    <button type="button" class="btn button-transparent mr-auto" data-dismiss="modal" (click)="cancel()">
      <span class="button-text list-text-color" customTranslate="entity.action.cancel">Cancel</span>
    </button>
  </div>
</form>
