<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notice">
            <h2 data-cy="noticeDetailsHeading"><span jhiTranslate="supportivecareApp.notice.detail.title">Notice</span></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supportivecareApp.notice.id">ID</span></dt>
                <dd>
                    <span>{{ notice.id }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.notice.description" [ngbTooltip]="'supportivecareApp.notice.help.description' | translate">Description</span></dt>
                <dd>
                    <span>{{ notice.description }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.notice.evaluation" [ngbTooltip]="'supportivecareApp.notice.help.evaluation' | translate">Evaluation</span></dt>
                <dd>
                    <span>{{ notice.evaluation }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.notice.intervention" [ngbTooltip]="'supportivecareApp.notice.help.intervention' | translate">Intervention</span></dt>
                <dd>
                    <span>{{ notice.intervention }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.notice.drug">Drug</span></dt>
                <dd>
                    <div *ngIf="notice.drug">
                        <a [routerLink]="['/drug', notice.drug?.id, 'view']">{{ notice.drug?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info"
                    data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notice', notice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
