<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="custom-notice-heading" data-cy="NoticeCreateUpdateHeading" jhiTranslate="supportivecareApp.notice.home.createOrEditLabel">Create or edit a Notice</h2>

            <div>
                <custom-alert-error></custom-alert-error>


                <div class="form-group" [hidden]="editForm.get('id')?.value == null">
                    <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                    <input type="number" class="form-control" name="id" id="field_id" data-cy="id"
                           formControlName="id" readonly/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.notice.description" for="field_description" [ngbTooltip]="'supportivecareApp.notice.help.description' | translate">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description" data-cy="description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.notice.evaluation" for="field_evaluation" [ngbTooltip]="'supportivecareApp.notice.help.evaluation' | translate">Evaluation</label>
                    <input type="text" class="form-control" name="evaluation" id="field_evaluation" data-cy="evaluation"
                           formControlName="evaluation"/>
                    <div *ngIf="editForm.get('evaluation')!.invalid && (editForm.get('evaluation')!.dirty || editForm.get('evaluation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('evaluation')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supportivecareApp.notice.intervention" for="field_intervention" [ngbTooltip]="'supportivecareApp.notice.help.intervention' | translate">Intervention</label>
                    <input type="text" class="form-control" name="intervention" id="field_intervention" data-cy="intervention"
                           formControlName="intervention"/>
                    <div *ngIf="editForm.get('intervention')!.invalid && (editForm.get('intervention')!.dirty || editForm.get('intervention')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('intervention')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
