<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="toxicityRate">
            <h2 data-cy="toxicityRateDetailsHeading"><span jhiTranslate="supportivecareApp.toxicityRate.detail.title">Toxicity Rate</span></h2>

            <hr>

            <custom-alert-error></custom-alert-error>

            <custom-alert></custom-alert>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="global.field.id">ID</span></dt>
                <dd>
                    <span>{{ toxicityRate.id }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.toxicityRate.name" [ngbTooltip]="'supportivecareApp.toxicityRate.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ toxicityRate.name }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.toxicityRate.description" [ngbTooltip]="'supportivecareApp.toxicityRate.help.description' | translate">Description</span></dt>
                <dd>
                    <span>{{ toxicityRate.description }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.toxicityRate.notice" [ngbTooltip]="'supportivecareApp.toxicityRate.help.notice' | translate">Notice</span></dt>
                <dd>
                    <span>{{ toxicityRate.notice }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.toxicityRate.autonomousIntervention" [ngbTooltip]="'supportivecareApp.toxicityRate.help.autonomousIntervention' | translate">Autonomous Intervention</span></dt>
                <dd>
                    <span>{{ toxicityRate.autonomousIntervention }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.toxicityRate.interdependentIntervention" [ngbTooltip]="'supportivecareApp.toxicityRate.help.interdependentIntervention' | translate">Interdependent Intervention</span></dt>
                <dd>
                    <span>{{ toxicityRate.interdependentIntervention }}</span>
                </dd>
                <dt><span jhiTranslate="supportivecareApp.toxicityRate.selfManagement" [ngbTooltip]="'supportivecareApp.toxicityRate.help.selfManagement' | translate">Self Management</span></dt>
                <dd>
                    <span>{{ toxicityRate.selfManagement }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info"
                    data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *customHasAnyAuthority="'ROLE_USER'"
                    type="button"
                    [routerLink]="['/toxicity-rate', toxicityRate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
