<div>
    <h2 id="page-heading" data-cy="ToxicityRateHeading">
        <span jhiTranslate="supportivecareApp.toxicityRate.home.title">Toxicity Rates</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-info mr-2" (click)="handleSyncList()" [disabled]="isLoading">
                <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span jhiTranslate="supportivecareApp.toxicityRate.home.refreshListLabel">Refresh List</span>
            </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-toxicity-rate" [routerLink]="['/toxicity-rate/new']">
                <fa-icon icon="plus"></fa-icon>
                <span  jhiTranslate="supportivecareApp.toxicityRate.home.createLabel">
                Create a new Toxicity Rate
                </span>
            </button>
        </div>
    </h2>

    <custom-alert-error></custom-alert-error>

    <custom-alert></custom-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="toxicityRates?.length === 0">
        <span jhiTranslate="supportivecareApp.toxicityRate.home.notFound">No toxicityRates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="toxicityRates && toxicityRates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="supportivecareApp.toxicityRate.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="supportivecareApp.toxicityRate.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notice"><span jhiTranslate="supportivecareApp.toxicityRate.notice">Notice</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="autonomousIntervention"><span jhiTranslate="supportivecareApp.toxicityRate.autonomousIntervention">Autonomous Intervention</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="interdependentIntervention"><span jhiTranslate="supportivecareApp.toxicityRate.interdependentIntervention">Interdependent Intervention</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="selfManagement"><span jhiTranslate="supportivecareApp.toxicityRate.selfManagement">Self Management</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let toxicityRate of toxicityRates; trackBy: trackId" data-cy="entityTable">
                    <td><a [routerLink]="['/toxicity-rate', toxicityRate.id, 'view']">{{ toxicityRate.id }}</a></td>
                    <td>{{ toxicityRate.name }}</td>
                    <td>{{ toxicityRate.description }}</td>
                    <td>{{ toxicityRate.notice }}</td>
                    <td>{{ toxicityRate.autonomousIntervention }}</td>
                    <td>{{ toxicityRate.interdependentIntervention }}</td>
                    <td>{{ toxicityRate.selfManagement }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/toxicity-rate', toxicityRate.id, 'view']"
                                    class="btn btn-info btn-sm"
                                    data-cy="entityDetailsButton">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/toxicity-rate', toxicityRate.id, 'edit']"
                                    class="btn btn-primary btn-sm"
                                    data-cy="entityEditButton">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(toxicityRate)"
                                    class="btn btn-danger btn-sm"
                                    data-cy="entityDeleteButton">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
